body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: #7e7e7e;
    color: #333;
  }
  
  #resume {
    background: white;
    padding: 0px;
    max-width: 800px;
    margin: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  
  }
  
  .page {
    margin-bottom: 40px;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  #resume {
    background: white;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left; /* make sure text starts at top */
  }
  
  .page-break {
    display: block;
    page-break-before: always;
    break-before: page;
  }
  h1 {
    margin-bottom: 0;
  }
  
  h2 {
    margin-top: 5px;
    font-weight: normal;
    color: #777;
  }
  
  ul {
    padding-left: 20px;
  }
  
  hr {
    margin: 20px 0;
  }
  
  #downloadBtn {
    display: block;
    margin: 40px auto 0;
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  #downloadBtn:hover {
    background-color: #0056b3;
  }
